# Binaries for programs and plugins
*.idea
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Built binary
story-builder

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
